{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true,
    "jasmine": true
  },
  "globals": {
    "React$Component": "",
    "React$Element": "",
    "SyntheticEvent": ""
  },
  "rules": {
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "react/prefer-stateless-function": "warn",
    "react/no-array-index-key": "warn",
    "react/forbid-prop-types": "warn",
    "jsx-a11y/href-no-hash": "warn",
    "jsx-a11y/no-static-element-interactions": "warn",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "warn",
    "no-param-reassign": "warn",
    "no-plusplus": "warn",
    "class-methods-use-this": "warn",
    "max-len": [
      "error",
      120
    ],
    "max-lines": "off",
    "import/extensions": [
      "warn",
      "always",
      {
        "scss": "always",
        "json": "always",
        "ignorePackages": true
      }
    ]
  }
}
